* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(top, #009688, #009688 20%,#D8DBD6 20%, #D8DBD6);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
i {
    cursor: pointer;
}

.icon_colors {
    color: #B1B1B1;
}
.margin_left_5 {
    margin-left: 5%;
}

.wrapper {
    width: 75%;
    height: 90vh;
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.6);
}

.nav {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #EAEAEA;
}

.nav .left {
    display: flex;
    width: 35%;
    border-right: 1px solid lightgray;
}

.nav .left .user_info, .nav .left .settings {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.nav .left .user_info i, .nav .left .user_info img, .nav .left .user_info h4, .nav .left .settings i {
    cursor: pointer;
}

.settings {
    justify-content: flex-end;
    padding-right: 3%;
    font-size: 23px;
}

.nav .right {
    display: flex;
    width: 75%;
}

.nav .right .user_info, .nav .right .settings {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}
.nav .right i{
    cursor: pointer;
}

.nav .right .user_info .name_user p {
    font-size: 12px;
    color: gray;
}

.main {
    display: flex;
    width: 100%;
    height: 91.7%;
}
.main .left {
    width: 31.8%;
    height: 100%;
    border-right: 1px solid lightgray;
}
.main .right {
    width: 68.2%;
    height: 100%;
}

.notification_request {
    display: flex;
     align-items: center;
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
}

.notification_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-left: 5%;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

.notification_icon i {
    font-size: 20px;
    color: #8EDAFC;
}
.enable_notification_text {
    margin-left: 3%;
}
.enable_notification_text a {
    color: black;
    font-size: 13px;
}

.message_search {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #FAFAFA;
}
.icon_message_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 30px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.message_search input {
    width: 85%;
    height: 30px;
    border: none;
    outline-style: none;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.main .right {
    background-image: url('https://i.ibb.co/nLhD4sD/Capture.png');
}

.wrapper_chat {
    display: flex;
    width: 85%;
    height: 90%;
    margin: 0 auto;
}

.wrapper_chat .chat_sent {
    width: 50%;
    height: 90%;
    margin: auto 0;
}
.bubble_chat_sent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 8% 28%;
    border-radius: 15px;
    background: #D5F9BA;
    padding: 5px 15px;
    text-align: left;
    position: relative;
}
.message_sent:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #D5F9BA;
    border-right: 15px solid transparent;
    border-top: 15px solid  #D5F9BA;
    border-bottom: 15px solid transparent;
    right: -16px;
    top: 0px;
}
.message_sent .message_time {
    margin-left: 60%;
    margin-right: 0;
    margin-top: 5%;
    font-size: 11px;
    color: #B1B1B1;
}

.wrapper_chat .chat_received {
    width: 50%;
    height: 90%;
    margin: auto 0;
}
.bubble_chat_received {
    display: flex;
    align-items: center;
    width: 300px;
    margin: 50% 0;
    border-radius: 15px;
    background:white;
    padding: 5px 15px;
    text-align: left;
    position: relative;
}
.message_received:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    left: -16px;
    top: 0px;
}

.message_received .message_time {
    margin-left: 28%;
    margin-right: 0;
    margin-top: 10%;
    font-size: 11px;
    color: #B1B1B1;
}


.nav_chat {
    width: 100%;
    height: 10%;
    background-color: lightcoral;
}