<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <div class="wrapper" id="root">
        <div class="nav">
            <div class="left">
                <div class="user_info">
                    <div class="avatar margin_left_5">
                        <img src="img/user.png" alt="avatar" width="50px">
                    </div>

                    <div class="name_user margin_left_5">
                        <h4>Nome Utente</h4>
                    </div>
                </div>
                
                <div class="settings">
                    <div class="stories icon_colors margin_left_5">
                        <i class="fas fa-circle-notch"></i>
                    </div>

                    <div class="chat icon_colors margin_left_5">
                        <i class="fas fa-comment-alt"></i>
                    </div>

                    <div class="three_dots_menu icon_colors margin_left_5">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>
            </div>

            <div class="right">
                <div class="user_info" v-for="(item, index) in activeChat">
                    <div class="avatar margin_left_5">
                        <img :src="'img/' + activeChat.avatar" alt="avatar" width="50px">
                    </div>
                
                    <div class="name_user margin_left_5">
                        <h4>{{activeChat.name}}</h4>
                        <p>Ultimo accesso oggi alle {{activeChat.date}}</p>
                    </div>
                </div>

                <div class="settings">
                    <div class="stories icon_colors margin_left_5">
                        <i class="fas fa-search"></i>
                    </div>
                
                    <div class="chat icon_colors margin_left_5">
                        <i class="fas fa-paperclip"></i>
                    </div>
                
                    <div class="three_dots_menu icon_colors margin_left_5">
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                
                </div>
            </div>
        </div>

        <div class="main">
            <div class="left">
                <div class="notification_request">
                    <div class="notification_icon">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    
                    <div class="enable_notification_text">
                        <h4>Ricevi le notifiche di nuovi messaggi</h4>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <div class="message_search">
                    <div class="icon_message_search">
                        <i class="fas fa-search icon_colors"></i>
                    </div>
                    <input type="text" placeholder="Cerca o inizia una nuova chat" class="message_search_input">
                </div>

                <div class="chat_list">
                    <div v-for="(contact, index) in contacts" class="chat_row" @click="clickContact(index)" :class="this.isActive == true ? 'active' : ''">
                        <div class="avatar_img">
                            <img :src="'img/' + contacts[index].avatar" alt="avatar" width="50px">
                        </div>

                        <div class="message_info">
                            <h4>{{contact.name}}</h4>
                            <p>{{contact.messages[contact.messages.length-1].text}}</p>
                        </div>

                        <div class="date">
                            <p>{{contact.messages[contact.messages.length-1].date}}</p>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="right">
                <div  class="wrapper_chat">
                    <div v-for="(message, index) in activeChat.messages" :class="message.status == 'sent' ? 'sent' : 'received'">
                        {{message.text}} <span></span>
                    </div>
                </div>

                <div class="nav_chat">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" class="message_input">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>

<script src="js/main.js"></script>
</body>
</html>